llama-index-core==0.14.23
llama-index-readers-docling==0.4.2
llama-index-node-parser-docling==0.4.2
llama-index-llms-groq
llama-index-embeddings-huggingface

docling==2.114.0
docling-core==2.87.1

fastapi
uvicorn
python-multipart

psycopg2-binary
pgvector

python-dotenv

sentence-transformers
transformers
torch

pydantic
numpy